* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to bottom, #12001f, #1b0033, #0b0014);
    color: #fff;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    display: block;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    backdrop-filter: blur(12px);
    background: rgba(0, 0, 0, 0.35);
}

.navbar {
    max-width: 1400px;
    margin: auto;
    padding: 18px 24px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-weight: 700;
}

.logo span {
    background: linear-gradient(90deg, red, orange, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-menu {
    display: flex;
    justify-self: center;
    gap: 40px;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-menu a:hover {
    color: #1aaeae;
}

.nav-btn {
    color: white;
    padding: 10px 22px;
    border-radius: 999px;
    background: linear-gradient(45deg, #9fa324, #b83ace, #db108a);
    text-decoration: none;
    transition: all 0.3s;
}

.nav-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(219, 16, 138, 0.5);
}

.hamburger {
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.hero {
    padding: 180px 20px 80px 20px;
    text-align: center;
    background: url("images/hero-bg.png") center/cover no-repeat;
    position: relative;
}

.podcast-circle {
    position: relative;
    width: 260px;
    margin: auto;
}

.mic {
    position: absolute;
    width: 110px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.new-badge {
    position: absolute;
    top: -3px;
    right: 20px;
    background: #00ff5e;
    color: #000;
    padding: 6px 14px;
    border-radius: 999px;
    font-size: 12px;
    font-weight: 700;
}

.hero-buttons {
    margin-top: 30px;
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
}

.btn-primary {
    background: linear-gradient(45deg, #9fa324, #b83ace, #db108a);
    color: white;
    padding: 8px 24px;
    border-radius: 999px;
    display: flex;
    gap: 10px;
    text-decoration: none;
    transition: all 0.3s;
}

.btn-primary:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(219, 16, 138, 0.5);
    background: linear-gradient(45deg, #db108a, #b83ace, #9fa324);
}

.btn-outline {
    border: 2px solid #00ff5e;
    color: #00ff5e;
    padding: 14px 24px;
    border-radius: 999px;
    backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.08);
    display: flex;
    gap: 10px;
    transition: all 0.3s;
}

.btn-outline:hover {
    background: rgba(0, 255, 94, 0.2);
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 255, 94, 0.5);
}

.about {
    padding: 120px 20px;
    text-align: center;
}

.stats {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.stat h1 {
    color: #00ff5e;
    font-size: 28px;
}

.stat span {
    display: block;
    font-size: 14px;
    margin-top: 6px;
}


.why {
    padding: 120px 20px;
    background: #1F0B2E;
}

.features {
    max-width: 1300px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: auto;
    gap: 25px;
}

.feature-card {
    background: #2a174a;
    border-radius: 18px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: all 0.3s;
    cursor: pointer;
}

.feature-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.5);
    background: #3b1b6b;
}

.feature-card.tall {
    grid-row: span 2;
}

.feature-card.wide {
    grid-column: span 2;
}

.feature-card h3 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 12px;
}

.feature-card p {
    font-size: 14px;
    color: #d0cbe6;
}

.featured-episodes {
    background: #1f1135;
    padding: 120px 20px;
    text-align: center;
}

.section-heading {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 60px;
}

.episodes-wrapper {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.episode-card {
    background: #2a174a;
    border-radius: 18px;
    padding: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    transition: 0.3s;
}

.episode-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.video-box {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    border-radius: 14px;
    overflow: hidden;
    margin-bottom: 18px;
}

.video-box iframe {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.episode-card h3 {
    margin-top: 18px;
    font-size: 18px;
    color: #fff;
}

.episode-card p {
    margin: 10px 0 16px;
    font-size: 14px;
    color: #d0cbe6;
}

.duration {
    display: flex;
    align-items: center;
    gap: 8px;
}

.duration span {
    color: #00ff5e;
    font-weight: 600;
    font-size: 14px;
}

.meet-host {
    background: #1f1135;
    padding: 120px 20px;
    text-align: center;
}

.section-heading {
    font-size: 42px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 60px;
}

.host-container {
    max-width: 1000px;
    margin: auto;
    background: #2a174a;
    border-radius: 22px;
    padding: 50px;

    display: flex;
    gap: 40px;
    align-items: center;

    text-align: left;
}

.host-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.host-info h3 {
    font-size: 26px;
    margin-bottom: 15px;
    color: #ffffff;
}

.host-info p {
    color: #d6d1e8;
    line-height: 1.7;
    margin-bottom: 25px;
}

.social-links {
    display: flex;
    gap: 16px;
}

.social-links img {
    width: 28px;
    transition: transform 0.3s ease;
}

.social-links img:hover {
    transform: scale(1.15);
}

@media (max-width: 768px) {
    .host-container {
        flex-direction: column;
        text-align: left;
    }

    .host-image {
        margin-bottom: 20px;
    }
}


.footer-section {
    background-image: url('images/footer-bg.png');
    background-size: cover;
    background-position: center;
    padding: 80px 20px;
    text-align: center;
    color: #fff;
}

.footer-logo {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 30px;
}

.footer-logo span {
    background: linear-gradient(90deg, #9b00ff, #ff00c8, #ff5e8c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.footer-socials {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.footer-socials a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s;
}

.footer-socials a:hover {
    color: #ff00c8;
}

.footer-socials img {
    width: 24px;
    height: 24px;
}

.footer-copy {
    font-size: 14px;
    color: #fff;
}

@media (max-width:1024px) {
    .features {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media (max-width:768px) {
    .navbar {
        display: grid;
        grid-template-columns: auto 1fr auto;
    }

    .hamburger {
        display: block;
    }
}

@media (max-width:576px) {
    .episodes-wrapper {
        grid-template-columns: 1fr;
    }

    .host-container {
        flex-direction: column;
        text-align: center;
    }

    .stats {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.9);
        padding: 20px;
    }

    .hamburger {
        display: block;
    }

    .footer-socials {
        flex-direction: column;
        gap: 15px;
    }
}